### Import Modules

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer

### Import Dataset Files

In [4]:
Psy = pd.read_csv("Dataset/Youtube01-Psy.csv")
Katy = pd.read_csv("Dataset/Youtube02-KatyPerry.csv")
LMFAO = pd.read_csv("Dataset/Youtube03-LMFAO.csv")
Eminem = pd.read_csv("Dataset/Youtube04-Eminem.csv")
Shakira = pd.read_csv("Dataset/Youtube05-Shakira.csv")

In [6]:
df = pd.concat([Psy, Katy, LMFAO, Eminem, Shakira])
df.drop(['COMMENT_ID', 'AUTHOR', 'DATE'], axis=1, inplace=True)
df.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

### Splitting Dataset into Train and Test Sets

In [8]:
X_tr, X_te, y_tr, y_te = train_test_split(df['CONTENT'], df['CLASS'])

### Tokenizing Comments in Training Set and Applying TF-IDF Vectorizer on Training Set

In [10]:
wget https://archive.ics.uci.edu/ml/machine-learning-databases/00380/YouTube-Spam-Collection-v1.zip

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1468564411.py, line 1)